body{
    background-color: rgb(54, 141, 51);
}
.product__photo{
    background-color: rgb(162, 240, 36);
    align-items: center;
    position: absolute;
    z-index: 1;
    margin-left: 225px;
    margin-top: 40px;
    height: 460px;
    width: 310px;
    border-radius: 7px;
}
#green-apple_img{
    position: relative;
    right: 80px; 
}
#green-apple_img:hover{
    transform: scale(1.1);
}

.controls{
    margin: 10px;
    color: white;
}
#heart_img{
    margin-left: 250px;
    
}
.photo-album{
    display:inline-block ;
    background-color: white;
    height: 90px;
    width: 310px;
    border-bottom-left-radius: 7px;
     
}
.product__info{
    background-color: white;
    position: relative;
    align-items:center ;
    padding: 40px;
    margin: 300px;
    height: 470px;
    width: 490px;
    border-radius: 7px;

}
.container{
    display: flexbox;
    position: absolute;
    right: 10px;
}
.photo-album ul li{
    display: inline-block;
    border-style: solid;
    border-radius: 4px;
    border-width: 1.5px;
    border-color: lightgray;
    
}

.variant ul li{
    display: inline-block;
    transform: scale(0.7);
}
#background_img{
    border-style: solid;
    border-radius: 4px;
    border-width: 1.5px;
    border-color: black;
}
#background_img:hover{
    zoom: 1;
    border-style: solid;
    border-color:red;
}

.title span, h3{
    color: gray;
}
.price{
    color: rgb(219, 72, 72);
}
.price span{
    font-size: 50px;
}
.buy--btn{
    background-color: rgb(226, 42, 42);
    color: white;
    border: white;
    border-radius: 8px;
    height: 55px;
    width: 160px;
}
.buy--btn:hover{
    /* background-color: green; */
    zoom: 1;
    border-style: solid;
    border-color:gray;
}
